/* ===================================================================================
                            common css start Here
   =================================================================================== */
   *{
    margin: 0;
    padding: 0;
   }
   img{
    vertical-align: middle;
   }
   a{
    text-decoration: none;
   }
   ul,ol{
    list-style-type: none;
   }
   h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
   }
   .container{
    max-width: 1140px;
    margin: 0 auto;
   }
/* ===================================================================================
                            common css End Here
   =================================================================================== */
/* ===================================================================================
                            navbar css start Here
   =================================================================================== */
   nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }
.menu ul{
    display: flex;
    justify-content: center;
}
.menu ul li{
    margin-right: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
   z-index: 999;
}
.menu ul li:hover a{
    color: red;
   
}
.menu ul li:last-child{
    margin-right: 0px;
   
}
.menu ul li a{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    transition: all linear .3s;
}

/* ===================================================================================
                            Navbar  css End Here
   =================================================================================== */
/* ===================================================================================
                            Banner  css start Here
   =================================================================================== */
   #banner{
    background: url('../images/banner/banner2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 216px;
    padding-bottom: 167px;
    position: relative;
    margin-bottom: 130px;
   }
   .banner-contain{
    text-align: right;
   }
   .banner-contain h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    padding-left: 428px;
    line-height: 76px;
   }
   .banner-contain p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    line-height: 26px;
    padding-left: 636px;
    margin-bottom: 35px;
   }
   .banner-contain a{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 15px 25px;
    background-color: #F15B22;
    border-radius: 5px;
   }
/* ===================================================================================
                            Banner css End Here
   =================================================================================== */
/* ===================================================================================
                            Navbar  css start Here
   =================================================================================== */
   #portfolio{
    margin-bottom: 100px;
   }  
   .port-wrapper .port-left img{
    width: 570px;
    height: 723px;
    object-fit: cover;
   }
   .port-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .port-right .port-contain h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
   }
   .port-right .port-contain p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
   }
   .port-right .port-contain h5{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
   }
   .port-right .port-contain i{
    color: #16D887;
    width: 16px;
    height: 11px;
   }
/* ===================================================================================
                            protfolio css End Here
   =================================================================================== */
/* ===================================================================================
                            Navbar  css start Here
   =================================================================================== */
   #plans{
    margin-top: 130px;
   }
   .plan-header{
    text-align: center;
   }
   .plan-header h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #151414;

   }
   .plan-item img{
    width: 92px;
    height: 92px;
   }
   .plan-item{
    text-align: center;
   }
   .plan-item h5{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    padding: 20px 0;
   }
   .plan-item p{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #151414;
   }
   .plans-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 120px;
   }
/* ===================================================================================
                            Navbar css End Here
   =================================================================================== */

/* ===================================================================================
                            Navbar  css start Here
   =================================================================================== */
   #call-to-action{
    margin-bottom: 130px;
   }
   .mind-set-up{
    background: url('../images/watch.png');
    padding-top: 60px;
    padding-bottom: 200px;
    padding-left: 64px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
   }
   .mind-set-up .m-overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    padding-left: 60px;
   }
   .mind-set-up .m-overly h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding-top: 60px;
    line-height: 45px;
    padding-right: 645px;
   }
   .mind-set-up .m-overly a{
   padding: 13px 33px;
   background-color: #FFF;
   color: #F15B22;
   border-radius: 5px;
   font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 160px;
   }
/* ===================================================================================
                            mind-set css End Here
   =================================================================================== */
/* ===================================================================================
                            footer css End Here
   =================================================================================== */
   #footer{
    background-color: #151414;
    padding: 125px 0;
   }
   .footer-wrapper{
    display: flex;
   }
   .footer-left .common-head{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color:#F8F8F8;
   }
   .footer-left p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:#fff;
    margin-bottom: 20px;
    padding-right: 408px;
margin-top: 15px;
   }
   .footer-left h6{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#fff;
    margin-bottom: 16px;
   }
   .footer-right h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color:#fff;
   }
   .footer-right input{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    border-radius: 8px;
    border: 0;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 28px;
   }
   .footer-right a{
   padding: 15px 30px;
   background-color: #fff;
   border-radius: 8px;
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #F15B22;
text-transform: capitalize;
   }
/* ===================================================================================
                            footer css End Here
   =================================================================================== */

